*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(to right,#646567,#111819);
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.container{
width:450px;
background:rgb(57, 48, 48);
padding:25px;
border-radius:15px;
box-shadow:0 8px 20px rgba(0,0,0,.2);
}

h1,h2{
text-align:center;
margin-bottom:15px;
}

input{
width:100%;
padding:10px;
margin-bottom:10px;
border:1px solid #ccc;
border-radius:8px;
}

.input-box{
display:flex;
gap:10px;
}

.input-box input{
flex:1;
}

button{
padding:10px 15px;
border:none;
background:#4facfe;
color:white;
border-radius:8px;
cursor:pointer;
}

ul{
list-style:none;
margin-top:10px;
margin-bottom:20px;
}

li{
background:#f1f1f1;
padding:10px;
margin-bottom:8px;
border-radius:8px;
display:flex;
justify-content:space-between;
align-items:center;
}